#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.container-music-player,
.container-canvas {
  width: 50%;
  float: left;
}





.container-canvas{
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;

}




.container-music-player{
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: black;
}
